# System
.DS_Store

# Logs
*.log
test_report.log

# Dependencies
node_modules/
__pycache__/

# Course Material (Ignored)
course/

# Python Testing
.pytest_cache/
*.pyc

# Dynamic Config
.cursorrules

*.log
